<form method="post" action="{{ path('delete_hero', { faction_path : hero.getHeroFaction.getFactionPath, hero_path : hero.getHeroPath }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce héro ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hero.id) }}">
    <button type="submit">Supprimer le Héro</button>
</form>